<div class="map-container">


    <div class="map-frame">
        <div id="map" class="map"></div>
    </div>
    
    <div id="popup" class="ol-popup">
        <ul data-title="Events" *ngIf="eventsInPopup.length">
            <li *ngFor="let event of eventsInPopup">
                <a href="{{ event.url }}" [title]="getEventTitle(event, false)">{{ getEventTitle(event, true) }}</a>
            </li>
        </ul>
        <ul data-title="Segments" *ngIf="segmentsInPopup.length">
            <li *ngFor="let segment of segmentsInPopup">
                {{ segment.name }}
            </li>
        </ul>
        <ul data-title="Tours" *ngIf="toursInPopup.length">
            <li *ngFor="let tour of toursInPopup">
                {{ tour.title }}
            </li>
        </ul>
    </div>
    <div id="controls" class="ol-controls">
    </div>
</div>