<form [formGroup]="editForm" (submit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Change password - Tour de Planet</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <input type="hidden" name="username" id="username" autocomplete="username">
        <div>
          <mat-form-field fxFlex appearance="outline">
            <mat-label for="oldPlainPassword">Old Password</mat-label>
            <input matInput type="password" formControlName="oldPlainPassword" autocomplete="current-password"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field fxFlex appearance="outline">
            <mat-label for="password">Password</mat-label>
            <input matInput type="password" formControlName="password" autocomplete="new-password"/>
            <mat-list>
              <mat-list-item [ngClass]="passwordHasMinLength  ? 'text-danger' : 'text-success'"
                *ngIf="passwordControl.dirty">
                <i class="material-icons">{{ passwordHasMinLength ? 'cancel' : 'check_circle' }}</i>
                Must be at least 8 characters!
              </mat-list-item>
              <mat-list-item [ngClass]="passwordHasNumber  ? 'text-danger' : 'text-success'"
                *ngIf="passwordControl.dirty">
                <i class="material-icons">{{ passwordHasNumber ? 'cancel' : 'check_circle' }}</i>
                Must contain at least 1 number!
              </mat-list-item>
              <mat-list-item [ngClass]="passwordHasCapitalCase  ? 'text-danger' : 'text-success'"
                *ngIf="passwordControl.dirty">
                <i class="material-icons">{{ passwordHasCapitalCase ? 'cancel' : 'check_circle' }}</i>
                Must contain at least 1 in Capital Case!
              </mat-list-item>
              <mat-list-item [ngClass]="passwordHasSmallCase  ? 'text-danger' : 'text-success'"
                *ngIf="passwordControl.dirty">
                <i class="material-icons">{{ passwordHasSmallCase ? 'cancel' : 'check_circle' }}</i>
                Must contain at least 1 Letter in Small Case!
              </mat-list-item>
              <mat-list-item [ngClass]="passwordHasSpecialCharacters? 'text-danger' : 'text-success'"
                *ngIf="passwordControl.dirty">
                <i class="material-icons">{{ passwordHasSpecialCharacters? 'cancel' : 'check_circle' }}</i>
                Must contain at least 1 Special Character!
              </mat-list-item>
            </mat-list>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field fxFlex appearance="outline">
            <mat-label for="passwordConfirm">Password Confirm</mat-label>
            <input matInput type="password" formControlName="passwordConfirm" autocomplete="new-password"/>
            <mat-error><i class="material-icons">cancel</i>Password Confirmation must match the original one.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Logout</button>
      <button mat-raised-button color="warn" (click)="onClose()">Close</button>
    </mat-card-actions>
  </mat-card>
</form>
