<form [formGroup]="tourSegmentForm" *ngIf="tourSegmentForm">
    <input type="hidden" formControlName="id" />
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Segment Name</mat-label>
            <input matInput type="text" formControlName="name" />
        </mat-form-field>
    </div>
    <app-tour-point-form [tourPointForm]="start.value" *ngIf="start" [name]="'Segment start'"></app-tour-point-form>
    <app-tour-point-form [tourPointForm]="end.value" *ngIf="end" [name]="'Segment end'"></app-tour-point-form>
</form>