<form class="organizer-form" [formGroup]="organizerForm" *ngIf="organizerForm">
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <input type="hidden" formControlName="id" />
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Organizer Name</mat-label>
            <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Organizer Type</mat-label>
            <mat-select formControlName="type">
                <mat-option>Select a type</mat-option>
                <mat-option value="group">Group</mat-option>
                <mat-option value="single">Single</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>
