
<mat-list>
    <mat-list-item *ngFor="let tour of (tours$ | async)">
        <app-map-overlay-tour [tour]="tour"></app-map-overlay-tour>
    </mat-list-item>

    <mat-list-item *ngFor="let segment of (segments$ | async)">
        <app-map-overlay-tour-segment [segment]="segment"></app-map-overlay-tour-segment>
    </mat-list-item>

    <mat-list-item *ngFor="let event of (events$ | async)">
        <app-map-overlay-tour-event [event]="event"></app-map-overlay-tour-event>
    </mat-list-item>
</mat-list>