<div class="flex">
  <app-navigation [title]="title"></app-navigation>
  <app-notification></app-notification>
  <mat-drawer-container>
    <mat-drawer mode="over" [(opened)]="sidenavVisible">
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-drawer>
    <mat-drawer-content>
      <app-map [latitude]="51.48253" [longitude]="7.21506" [zoom]="5"></app-map>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-footer></app-footer>
</div>
