:host {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.flex { width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: stretch; }
app-sidenav { display: flex; }
mat-drawer-container { flex: 1 1 auto; }
mat-drawer-container, mat-drawer-content { display: block; height: 100%; }
main { height: 100%; overflow-y: auto; }
main {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  height: 100%;
  overflow-y: auto;
}
mat-drawer {
  width: 100%;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  mat-drawer {
    width: 100%;
  }

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  mat-drawer {
    width: 100%;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  mat-drawer {
    width: 50%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  mat-drawer {
    width: 50%;
  }
}



