<mat-card>
    <mat-card-header>
        <h4 class="card-header">Registration - Tour de Planet</h4>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="signInForm">
            <div class="form-group">
                <label for="username" [class.text-danger]="usernameControlInvalid">Username</label>
                <input type="text" formControlName="username" class="form-control" required
                    [class.is-invalid]="usernameControlInvalid" />
                <small *ngIf="usernameControlInvalid" class="text-danger">You should enter a username</small>
            </div>

            <div class="form-group">
                <label for="mail" [class.text-danger]="mailControlInvalid">Email Address</label>
                <input type="email" formControlName="mail" class="form-control"
                    [class.is-invalid]="mailControlInvalid" />
                <small *ngIf="mailControlInvalid" class="text-danger">Enter a valid Email</small>
            </div>
            <div class="form-group row">
                <div class="col">
                    <div class="row">
                        <label class="col" for="password"
                            [ngClass]="passwordControlInvalid ? 'text-danger' : ''">Password</label>
                    </div>
                    <div class="row">
                        <input class="col" type="password" formControlName="password" class="form-control"
                            [ngClass]="passwordControlInvalid ? 'is-invalid' : 'valid'" />
                    </div>

                    <div class="row" *ngIf="passwordControl.dirty">
                        <label class="col" [ngClass]="passwordHasMinLength  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{ passwordHasMinLength ? 'cancel' : 'check_circle' }}</i>
                            Must be at least 8 characters!
                        </label>
                    </div>
                    <div class="row" *ngIf="passwordControl.dirty">
                        <label class="col" [ngClass]="passwordHasNumber  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{ passwordHasNumber ? 'cancel' : 'check_circle' }}</i>
                            Must contain at least 1 number!
                        </label>
                    </div>
                    <div class="row" *ngIf="passwordControl.dirty">
                        <label class="col" [ngClass]="passwordHasCapitalCase  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{ passwordHasCapitalCase ? 'cancel' : 'check_circle' }}</i>
                            Must contain at least 1 in Capital Case!
                        </label>
                    </div>
                    <div class="row" *ngIf="passwordControl.dirty">
                        <label class="col" [ngClass]="passwordHasSmallCase  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{ passwordHasSmallCase ? 'cancel' : 'check_circle' }}</i>
                            Must contain at least 1 Letter in Small Case!
                        </label>
                    </div>
                    <div class="row" *ngIf="passwordControl.dirty">
                        <label class="col" [ngClass]="passwordHasSpecialCharacters? 'text-danger' : 'text-success'">
                            <i
                                class="material-icons">{{ passwordHasSpecialCharacters? 'cancel' : 'check_circle' }}</i>
                            Must contain at least 1 Special Character!
                        </label>
                    </div>
                </div>
                <div class="col">
                    <label for="passwordConfirm" [ngClass]="passwordConfirmControlInvalid ? 'text-danger' : ''">
                        Password Confirm
                    </label>
                    <input type="password" formControlName="passwordConfirm" class="form-control"
                        [ngClass]="passwordConfirmControlInvalid ? 'is-invalid' : 'valid'" />
                    <label *ngIf="passwordConfirmControlInvalid" class="text-danger">
                        <i class="material-icons">cancel</i>
                        Password Confirmation must match the original one.
                    </label>
                </div>
            </div>
            <div class="form-check mt-5">
                <input type="checkbox" formControlName="newsletterAccepted" class="form-check-input" />
                <label for="newsletterAccepted" class="form-check-label">Yes, i would also like to get the Tour de planet newsletter</label>
            </div>
            <div class="form-check">
                <input type="checkbox" formControlName="termsAccepted" class="form-check-input" />
                <label  [class.text-danger]="termsAcceptedControlInvalid" for="termsAccepted" class="form-check-label">Yes i red the terms&conditions and the data policy.</label>
                <small *ngIf="termsAcceptedControlInvalid" class="text-danger">You must accept the terms & conditions, to join.</small>
            </div>

            <div class="form-group mt-5 row">
                <div class="col">
                    <button type="button" class="btn btn-primary" [disabled]="invalid"
                        (click)="onSubmit()">Submit</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-warning" (click)="onClose()">Close</button>
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-footer>
        <p>
            When having an account, you can &nbsp;<a routerLink="/login">login</a>
            here.
        </p>
    </mat-card-footer>
</mat-card>