<form [formGroup]="editForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Account Profile - Tour de Planet</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="(organisations$ | async)?.length && (countries$ | async)?.length">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div>
          <mat-form-field fxFlex appearance="outline">
            <mat-label for="username">Username</mat-label>
            <input matInput type="text" formControlName="username" />
            <mat-error>You should enter a username</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
          <div>
            <mat-form-field fxFlex appearance="outline">
              <mat-label for="firstName">First Name</mat-label>
              <input matInput type="text" formControlName="firstName" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field fxFlex appearance="outline">
              <mat-label for="secondName">Second Name</mat-label>
              <input matInput type="text" formControlName="secondName" />
            </mat-form-field>
          </div>
        </div>
        <div>
          <mat-form-field  fxFlex appearance="outline">
            <mat-label for="mail">Email Address</mat-label>
            <input matInput type="email" formControlName="mail" />
            <mat-error *ngIf="mailControlInvalid" class="text-danger">Enter a valid Email</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field  fxFlex appearance="outline">
            <mat-label for="organisation">Organisation</mat-label>
            <mat-select formControlName="organisation">
              <mat-option value="0">Select an organisation ...</mat-option>
              <mat-option *ngFor="let organisation of (organisations$ | async)" [value]="organisation.id">
                {{ organisation.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field  fxFlex appearance="outline">
            <mat-label for="country">Country</mat-label>
            <mat-select formControlName="country">
              <mat-option value="0">Select a country ...</mat-option>
              <mat-option *ngFor="let country of (countries$ | async)" [value]="country.id">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="invalid" (click)="onSubmit()">Submit</button>
      <button mat-raised-button color="warn" (click)="onClose()">Close</button>
    </mat-card-actions>
  </mat-card>
</form>
