<form class="tour-point-form" [formGroup]="tourPointForm" *ngIf="tourPointForm" class="example-form">
    <input type="hidden" readonly formControlName="id" />
    <input type="hidden" readonly formControlName="latitude"/>
    <input type="hidden" readonly formControlName="longitude" />
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex appearance="outline" class="example-full-width">
            <mat-label>{{ name }}</mat-label>
            <input
                matInput
                type="text"
                placeholder="Type your location and pick one"
                (keyup)="onKeyUpname($event)"
                formControlName="name"
                matAutocompleteOrigin="auto">
            <ul *ngIf="(autoCompleteItems$ | async)" id="autocomplete-list" class="autocomplete-items">
                <li *ngFor="let item of (autoCompleteItems$ | async)" (click)="onSelectPoint(item)">
                    <strong>{{ item.display_name }}</strong>
                </li>
            </ul>
            <mat-hint *ngIf="longitude && latitude">({{ longitude }}, {{ latitude }})</mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Date for the Point</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="pointDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
    </div>
</form>
