<a [routerLink]="['/donations/list']">
  <button  mat-icon-button matBadge="{{ sum(donations$ | async) }}" matBadgeColor="warn" matBadgeSize="huge">
    <mat-icon svgIcon="tdp_donated_km"></mat-icon>
  </button>
</a>
