<mat-card>
  <mat-card-header>
    <mat-card-title>Donations</mat-card-title>
    <button mat-icon-button [routerLink]="'/donations/add-donation'">
      <mat-icon svgIcon="tdp_plus"></mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let donation of (donations$ | async)">
        <mat-expansion-panel-header>
          <mat-icon matListIcon>location_on</mat-icon>{{ donation.point.name }}
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            <mat-icon matListIcon svgIcon="{{ iconByMeaningOfTransportation(donation.by) }}"></mat-icon>
            {{donation.amount}}&nbsp;{{donation.unit}}
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>today</mat-icon>{{ donation.date }}
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>location_on</mat-icon>{{ donation.point.name }}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>
</mat-card>
