<form [formGroup]="loginForm" (submit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login into your Account?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0px" fxLayoutAlign="center center">
        <div>
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label for="username">Username</mat-label>
            <input matInput type="text" formControlName="username" autocomplete="username" />
            <mat-error *ngIf="usernameControlInvalid" class="text-danger">You should enter a username</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field fxFlex appearance="outline">
            <mat-label for="password">Password</mat-label>
            <input matInput type="password" formControlName="password" class="form-control" autocomplete="current-password" />
            <mat-error>Enter your password.</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="invalid" (click)="onSubmit()">Submit</button>
      <button mat-raised-button color="warn" (click)="onClose()">Close</button>
    </mat-card-actions>
  </mat-card>
</form>
