<form [formGroup]="editForm" autocomplete="off">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tour Profile - Tour de Planet</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="null !== editForm">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
        <br />
        <mat-label fxFlex>Why do you join Tour de Planet?</mat-label>
        <br />
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
          <div fxFlex>
              <mat-checkbox formControlName="isBuildOwnTour">Build or organize an own tour</mat-checkbox>
          </div>
          <div fxFlex>
              <mat-checkbox formControlName="isJoinOtherTour">Participate and join an other tour</mat-checkbox>
          </div>
          <div fxFlex>
              <mat-checkbox formControlName="isPress">Press</mat-checkbox>
          </div>
          <div fxFlex>
              <mat-checkbox formControlName="isOrga">Organisation - support the local organisers.</mat-checkbox>
          </div>
        </div>

        <br />
        <mat-label fxFlex>How much you would like to invest?</mat-label>
        <br />
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
          <div>
            <mat-form-field fxFlex appearance="outline">
              <mat-label for="distanceToParticipate">Distance to participate (per Day) </mat-label>
              <input matInput type="number" formControlName="distanceToParticipate" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field fxFlex appearance="outline">
              <mat-label for="daysToParticipate" class="form-mat-label">Days to paricipate</mat-label>
              <input matInput type="number" formControlName="daysToParticipate" />
            </mat-form-field>
          </div>
        </div>
        <br />
        <mat-label fxFlex>Basic setup:</mat-label>
        <br />
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
          <div>
            <mat-form-field fxFlex appearance="outline">
              <mat-label for="meanOfTransportation">How you would like to join? By ..?</mat-label>
              <mat-select formControlName="meanOfTransportation">
                <mat-option value="0">Select an Mean of Transportation ...</mat-option>
                <mat-option *ngFor="let item of (meansOfTransportation$ | async)" [value]="item.id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field fxFlex appearance="outline">
              <mat-label for="unit">What is your base unit for distances?</mat-label>
              <mat-select formControlName="unit">
                <mat-option value="km">Kilometer</mat-option>
                <mat-option value="m">Miles</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex>
          <mat-form-field fxFlex appearance="outline">
            <mat-label for="point">Home Base</mat-label>
            <input matInput type="search" (keyup)="onKeyUpname($event)" />
            <mat-hint *ngIf="editForm.get('home').value && editForm.get('home').value.name">
              Name: {{ editForm.get('home').value.name }}
              ({{ editForm.get('home').value.latitude }}, {{ editForm.get('home').value.longitude }})
            </mat-hint>
            <mat-list class="autocomplete-items">
              <mat-list-item *ngFor="let item of (autoCompleteItems$ | async)" (click)="onSelectPoint(item)" color="primary">
                <span>{{ item.display_name}}</span>
              </mat-list-item>
            </mat-list>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      <button mat-raised-button color="warn" (click)="onClose()">Close</button>
    </mat-card-actions>
  </mat-card>
</form>
