<form [formGroup]="donationForm" (submit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add donations - Tour de Planet</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="(meansOfTransportation$ | async)?.length">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
        <mat-form-field fxFlex appearance="outline">
          <mat-label for="date">Date</mat-label>
          <input matInput formControlName="date" name="date" id="date" />
          <mat-error *ngIf="(donationForm.get('date').touched && donationForm.get('date').hasError('required'))">
            Enter a valid date
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label for="amount">Amount</mat-label>
          <input matInput type="number" formControlName="amount" name="amount" id="amount" />
          <span matSuffix>
            <mat-icon svgIcon="{{ iconByMeaningOfTransportation(donationForm.get('by').value) }}"></mat-icon>
          </span>
          <span matSuffix>{{ donationForm.get('unit').value}}</span>
          <mat-error *ngIf="(donationForm.get('amount').touched && donationForm.get('amount').hasError('required'))">
            Enter a valid Number
          </mat-error>
          <mat-hint *ngIf="donationForm.get('point').value && donationForm.get('point').value.name">
            <button mat-button><mat-icon svgIcon="tdp_location"></mat-icon></button> {{ donationForm.get('point').value.name }}
            ({{ donationForm.get('point').value.latitude }}, {{ donationForm.get('point').value.longitude }})
            <mat-list-item>
              <button mat-icon-button (click)="forceEdit()">
                <mat-icon>edit</mat-icon>Edit for this donation
              </button>
            </mat-list-item>
          </mat-hint>
        </mat-form-field>
        <br />
        <div *ngIf="editBasics" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10ppx">>
          <mat-form-field fxFlex appearance="outline">
            <mat-label for="point">Point</mat-label>
            <input matInput type="search" (keyup)="onKeyUpname($event)" />
            <mat-hint *ngIf="donationForm.get('point').value && donationForm.get('point').value.name">
              Name: {{ donationForm.get('point').value.name }}
              ({{ donationForm.get('point').value.latitude }}, {{ donationForm.get('point').value.longitude }})
            </mat-hint>
            <mat-list class="autocomplete-items">
              <mat-list-item *ngFor="let item of (autoCompleteItems$ | async)" (click)="onSelectPoint(item)">
                <span>{{ item.display_name}}</span>
              </mat-list-item>
            </mat-list>
          </mat-form-field>
          <div fxLayout="row" fxLayoutGap="5px">
            <div fxFlex="50%">
              <mat-form-field fxFlex appearance="outline">
                <mat-label for="unit">Unit</mat-label>
                <mat-select formControlName="unit">
                  <mat-option value="km">Kilometer</mat-option>
                  <mat-option value="m">Miles</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="50%">
              <mat-form-field fxFlex appearance="outline">
                <mat-label for="by">By</mat-label>
                <span
                  *ngIf="donationForm.get('by').value"
                  matPrefix
                  style="margin-right: 8px;">
                  <mat-icon svgIcon="{{ iconByMeaningOfTransportation(donationForm.get('by').value) }}"></mat-icon>
                </span>
                <mat-select formControlName="by">
                  <mat-option *ngFor="let item of (meansOfTransportation$ | async)" [value]="item.id">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" (click)="onSubmit()" color="primary" name="submit"
        [disabled]="(donationForm.get('by').touched && donationForm.get('by').hasError('required'))
        || (donationForm.get('amount').touched && donationForm.get('amount').hasError('required'))
        || (donationForm.get('point').get('name').touched && donationForm.get('point').get('name').hasError('required'))">Add Donation</button>
      <button mat-raised-button color="warn" (click)="onClose()">Close Form</button>
    </mat-card-actions>
  </mat-card>
</form>
