<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start end">
            <mat-menu #menuMenu="matMenu" yPosition="below">
                <span *ngIf="isUser">Hello, {{ user.username }}</span>
                <mat-divider></mat-divider>
                <button mat-menu-item routerLink="account/dashboard" aria-label="Change your Account settings" *ngIf="isUser">Account
                    Setting</button>
                <button mat-menu-item aria-label="Change your tour profile preferences"
                    routerLink="account/profile" *ngIf="isUser">Tour Profile</button>
                <button mat-menu-item aria-label="Change your password" routerLink="account/password" *ngIf="isUser">Change
                    Password</button>
                <mat-divider></mat-divider>
                <button mat-menu-item aria-label="Logout from tour management application"
                    routerLink="account/logout" *ngIf="isUser">Lougout</button>
                <button mat-menu-item [routerLink]="['/tours/dashboard']" disabled *ngIf="isUser"
                    title="Will come soon">My Tours</button>
                <mat-divider></mat-divider>
                <button mat-menu-item [routerLink]="['/events/dashboard']" disabled *ngIf="isUser"
                    title="Will come soon">
                    My Actions
                </button>
                <button mat-menu-item [routerLink]="['/login']" *ngIf="!this.user" aria-label="Login into tour management">
                  Login
                </button>
                <button mat-menu-item [routerLink]="['/register']" *ngIf="!this.user"  aria-label="Sign in into tour managment application">
                  Login
                </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="menuMenu">
                <mat-icon>menu</mat-icon>
            </button>
            <a routerLink="/" alt="home" aria-label="Back to home page">
                <span>{{ title }}</span>
            </a>

            <app-counter *ngIf="isUser"></app-counter>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
