<form [formGroup]="tourForm" *ngIf="tourForm">
    <input type="hidden" formControlName="id" />
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Name of tour</mat-label>
            <input matInput type="text" formControlName="title" />
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Organizer Type</mat-label>
            <mat-select formControlName="type">
                <mat-option>Select a type</mat-option>
                <mat-option *ngFor="let t of types" value="{{ t }}">{{ t }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <app-organizer-form [organizerForm]="organizer.value" *ngIf="organizer"></app-organizer-form>
    <app-tour-point-form [tourPointForm]="start.value" *ngIf="start" [name]="'Tour start'"></app-tour-point-form>
    <app-tour-point-form [tourPointForm]="end.value" *ngIf="end" [name]="'Tour end'"></app-tour-point-form>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <button mat-icon-button (click)="addSegment()">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
            </mat-panel-title>
            <mat-panel-description>
                <span (click)="addSegment()">New Segment</span>
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let segmentControl of tourSegments?.controls, let i = index">
            <mat-expansion-panel-header style="width: 100%;">
                <mat-panel-title>
                    {{ i }}
                </mat-panel-title>
                <mat-panel-description>
                    Tour Segment
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-tour-segment-form [index]="i" [tourSegmentForm]="segmentControl" (deleteSegment)="deleteSegment(i)"></app-tour-segment-form>

            <mat-action-row>
                <button mat-button (click)="deleteSegment(i)">Remove Segment</button>
              </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

</form>
<mat-action-row>
    <button mat-button color="primary" (click)="createTour()">Create</button>
    <button mat-button color="info" (click)="updateTour()">Update</button>
    <button mat-button color="warn" (click)="deleteTour()">Delete</button>
  </mat-action-row>
