<div class="map-container">
	<div class="map-frame">
	  <div id="map" class="map"></div>
	</div>
	<div id="controls" class="ol-controls">
	</div>
	<div id="popup" class="ol-popup">
		<app-map-overlay></app-map-overlay>
	</div>
  </div>
