<mat-card>
    <mat-card-header>
        <h4>Configure your own Tours</h4>
    </mat-card-header>
    <mat-card-content>
        <p>Please be aware of you local restrictions according COVID19 and plan your tour dates flexible.</p>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <button mat-icon-button>
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </mat-panel-title>
                    <mat-panel-description>
                        Plan your own tour or for your team
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-tour-form></app-tour-form>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let tour of (tours$ | async)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <button mat-icon-button>
                            <mat-icon>tour.type</mat-icon>
                        </button>
                    </mat-panel-title>
                    <mat-panel-description>
                        Tour from {{ tour.start?.name || 'not set' }} to {{ tour.end?.name || 'not set'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-tour-form [tour]="tour"></app-tour-form>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>
