<div id="alert-container" *ngIf="message" [ngClass]="getClassByType(message.type)">
  <mat-card>
    <mat-card-actions>
      <button mat-mat-icon-button class="close" data-dismiss="alert" (click)="onClose()"><mat-icon>close</mat-icon></button>
    </mat-card-actions>
    <mat-card-header *ngIf="message.title">
      <mat-card-title>
        {{ message.title }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{message.text}}
    </mat-card-content>
  </mat-card>
</div>
