

#alert-container {
  z-index: 1000;
  position: fixed;
  top: 10rem;
  right: 10rem;
.alert-success {
    background-color: #36f456;
}
.alert-info {
  background-color: lightblue;
}
.alert-warn {
  background-color: orange;
}
.alert-error {
  background-color:  #f44336;
}
.alert{
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
}
